// grid layout
.project-1 {
  grid-area: rt;
}
.project-2 {
  grid-area: mt;
}
.project-3 {
  grid-area: lt;
}
.project-4 {
  grid-area: rb;
}
.project-5 {
  grid-area: mb;
}
.project-6 {
  grid-area: lb;
}