.img {
  &--portrait {
    margin: 0 auto;
    background: $profile-image;
    border: 2px solid $secondary-color;
    border-radius: 50%;
    background-size: cover;
    @include respond-to("medium") {
      height: 225px;
      width: 225px;
      border: 3px solid $secondary-color;
    }
    &.portrait {
        height: 110px;
        width: 110px;
      
    }
  }
  &--rect {
    margin:0 auto;
    &.rect {
      margin: 0 auto;
      border: 2px solid $secondary-color;
      background-size: cover;
      &--sm {
        width:100%;
        :first-child{
          width:100%;
          display:block;
        }
      }
    }
  }
}
