body {
    font-size: $text-base-size;
    font-family: $font-primary;
}

a{
    text-decoration: none;
    color:white;
    &:hover{
        color:$primary-color;
    }
}


.text {
    &--heading--lg {
      font-size: calc(50px + (96 - 50) * ((100vw - 320px) / (1440 - 320)));
      line-height: 1;
      // margin-bottom: 16px;
    }
    &--heading--sm {
      font-size: calc(22px + (32 - 22) * ((100vw - 320px) / (1440 - 320)));
      padding: 5px;
      background-color: lighten($primary-color, 2);
    }
    &--secondary {
      display: block;
      color: $secondary-color;
      @include respond-to("medium"){
        display: inline;
      }
    }
  }
  